[user]
	name = eiji mishiro
	email = eiji346g@gmail.com
[color]
	ui = auto
[alias]
	co = checkout

[core]
	editor = nvim -c \"set fenc=utf-8\"
[push]
	default = matching
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	verbose = true
